{% extends 'header.html' %}
{% block body %}
		
{% for r in data %}
<div class="card">
  <div class="card-header">
   <H1>{{ r.names[0] }}</h1>
  </div>
  <div class="card-body">

	{% for s in r.slots %}
		  <table class="table table-striped table-dark" width="100%" id="dataTable" cellspacing="0" id="tbl">
        <thead>
            <tr>
                <th scope="col">From</th>
				<th scope="col">To</th>
				</tr>
        </thead>
        
        <tbody>
            <tr>			   
				<td>
				<script>
				var time = new Date("{{ s.date }} {{s.startTime}} ");
				document.write(time.toLocaleString());
				</script>
				</td>
				<td>
				<script>
				var time = new Date("{{ s.date }} {{s.endTime}} ");
				document.write(time.toLocaleString());
				</script>
				</td>
				</tr>

			{% endfor %}
  </div>
</div>
{% endfor %}
           </tbody>
    </table>
</div></div>


{% endblock %}
